.accentGameWord {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .accentGame {
    height: 100vh;
    width: 100vw;
  }

  .correct {
    background: green;
  }


  .false {
    background: red;
  }
